<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kshmax.objectrecognition"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For using the camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- For MediaPipe -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:testOnly="false"
        android:label="Car recognition"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="Car recognition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
